.cart {
  position: relative;
  width: 4rem;

  .cart-list.show {
    display: block;
  }

  .cart-list.hide {
    display: none;
  }

  .cart-list {
    position: absolute;
    display: none;
    right: 0;
    top: 2.5rem;
    z-index: 9;
    background-color: white;
    border: solid 0.5rem #ccc;
    width: 30rem;
    padding: 1.2rem;

    & > div:nth-of-type(1) {
      height: 30rem;

      overflow-y: scroll;
      table {
        tbody {
          font-size: 1.6rem;
          tr {
            & > td:nth-of-type(1) {
              width: 5rem;
              height: 5rem;
            }
            & > td:nth-of-type(2) {
              width: 20rem;
              height: 3rem;
              padding: 0.8rem;
            }
            & > td:nth-of-type(3) {
              width: 5rem;
              height: 5rem;
              display: flex;
              justify-content: center;
              align-items: center;
              & > span {
                display: block;
                font-size: 1rem;
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                background-color: #444;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    & > div:nth-of-type(2) {
      width: 100%;
      div {
        padding-block: 1.2rem;
        font-size: 1.8rem;
        text-align: center;
      }

      button {
        border: none;
        background-color: #333;
        color: white;
        font-size: 1.6rem;
        text-align: center;
        padding: 1.6rem;
        width: 100%;

        cursor: pointer;
      }
    }
  }

  .cart-total {
    background-color: white;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: -1rem;
    right: 0;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: solid 0.2rem #444;

    font-size: 1.2rem;
  }
}
