.gallery {
  display: flex;
  gap: 3.2rem;
  padding-inline: 5.6rem;
  margin-top: 4rem;
  & > div {
    height: 50rem;
    flex-grow: 1;
    flex-shrink: 1;
  }
  & > div:nth-of-type(1) {
    flex-basis: 4rem;
    overflow-y: scroll;
    & > div {
      margin-bottom: 1.6rem;
      cursor: pointer;
    }
  }
  & > div:nth-of-type(2) {
    flex-basis: 55rem;
  }
  & > div:nth-of-type(3) {
    .shipping-details{
      & > div{
        
        display: flex; 
        gap: 1.6rem; 
        svg{
          font-size: 2.4rem;
        }
      }
    }
    flex-basis: 20rem;
    h2 {
      margin-bottom: 1.6rem;
    }
    h3 {
      color: red;
      margin-bottom: 4rem;
    }
    p {
      margin-bottom: 4rem;
    }
    .add-to-basket {
      display: flex;
      gap: 1.6rem;
      justify-content: center;
      width: 100%;
      margin-bottom: 4rem;
      background-color: var(--warning);
      color: white;
      padding: 1.6rem;
      border: none;
      border-radius: 1.2rem;
      cursor: pointer;
      &:hover {
        background-color: #444;
      }
    }
    .sizes-btn {
      display: flex;
      gap: 1.6rem;
      & > button {
        cursor: pointer;
        flex-basis: 4rem;
        flex-shrink: 1;
        flex-grow: 0;
        height: 4rem;
        outline: none;
        background-color: #f3f3f3;
        margin-bottom: 4rem;
        border: solid 0.2rem #f3f3f3;
        &:hover {
          border: solid 0.2rem var(--warning);
        }
        &:active {
          background-color: var(--warning);
          color: white;
        }
      }
      .btn-active {
        background-color: var(--warning) !important;
        color: white;
      }
    }
  }
}
